/* 少於md樣式調整 */
@media (max-width: 768px) {

    /* 自訂container */
    .carts-container {
        padding-top: 0 !important;
    }

    /* 頁尾深綠 */
    footer .pm-footer {
        margin-top: 0 !important;
    }
}

/* 少於lg樣式調整 */
@media (max-width: 992px) {

    /* 自訂container */
    .carts-container {
        padding-top: 5px !important;
    }

    /* --訂單摘要-- */

    /* 卡片樣式 */
    .card {
        color: var(--main-color) !important;
        background-color: white !important;
    }

    /* 標題 */
    .card-header {
        border-bottom: 0 !important;
        background-color: var(--main-light-color) !important;
    }

    /* 表格 */
    .card .table {
        background-color: white !important;
    }
}

/* 自訂container */
.carts-container {
    padding-top: 40px;
}

/* --您的購物車-- */

/* 標題 */
.carts-container .py-cart {
    padding: 20px 0;
}

/* 表格 */
.carts-container .table .p-ctable-row {
    padding: 35px 0 !important;
}

/* 圖片 */
.table .p-ctable-row .media-md-img,
.carts-container .container .media-img {
    height: 110px;
    background-image: url(../img/carts-img.avif);
}

/* md以上圖片 */
.table .p-ctable-row .media-md-img {
    width: 110px;
}

/* 少於md圖片 */
.carts-container .container .media-img {
    width: 150px;
}

/* 數量 */
.btn-td {
    border: var(--main-light-color) 1.2px solid;
    color: var(--main-color);
    width: 50px;
    height: 48px;
}

/* 數量加減懸停 */
.table .p-ctable-row .btn-group .btn-quantity:hover {
    background-color: var(--main-light-color);
}

/* --訂單摘要-- */

/* 卡片樣式 */
.card {
    color: var(--main-light-color);
    background-color: var(--main-color);
}

/* 標題 */
.card-header {
    padding: 20px 0;
    background-color: var(--main-color);
}

/* 表格 */
.card .table {
    background-color: var(--main-color);
}