/* nav按鈕 */
.nav-link {
    color: var(--nav-btn-color) !important;
}

/* nav按鈕懸停 */
.nav-link:hover {
    color: var(--nav-btn-hover-color) !important;
}

/* nav當前頁按鈕 */
.nav-link.active {
    color: var(--main-color) !important;
    pointer-events: none;
    font-weight: 600;
}

/* 輸入框icon和送出按鈕 */
.input-group-text {
    border: 0;
}

/* 按鈕、輸入框focus樣式 */
.form-control:focus, .btn:focus, .page-link:focus {
    box-shadow: none;
}

/* 導覽選單 */
.list-group-item {
    padding: 15px 0;
}

/* 當前導覽選單防呆 */
.list-group-item.active {
    pointer-events: none;
}

/* 導覽選單懸停 */
.list-group-item-action:hover {
    background-color: var(--main-light-color);
}