/* 少於xl樣式調整 */
@media (max-width: 1200px) {
    header {
        height: 500px !important;
    }

    /* 選單 */
    header .menu {
        top: 430px !important;
    }

    /* 選單圖片 */
    header .menu-img,
    header .menu-cover {
        width: 260px !important;
    }

    /* 選單文字 */
    header .menu-text {
        left: 110px !important;
    }

    /* section圖片 */
    section .img1,
    section .img2 {
        width: 430px !important;
    }

    /* lg以上標語圖2 */
    section .title2-lg {
        left: 390px !important;
    }
}

/* 少於lg樣式調整 */
@media (max-width: 992px) {
    header {
        height: 400px !important;
    }

    /* 選單 */
    header .menu {
        top: 360px !important;
    }

    /* 選單圖片 */
    header .menu-img,
    header .menu-cover {
        width: 240px !important;
    }

    /* 選單文字 */
    header .menu-text {
        left: 100px !important;
    }

    /* section直向內文 */
    section .home-paragraph {
        writing-mode: horizontal-tb !important;
        height: auto !important;
        width: 800px !important;
        line-height: 30px !important;
        padding: 20px 30px !important;
    }

    /* section圖片大小 */
    section .img1,
    section .img2 {
        position: relative !important;
        width: 550px;
        height: 150px;
    }

    /* section標語圖 */
    section .title1,
    section .title2,
    section .title3 {
        position: relative !important;
        top: 0 !important;
        height: 90px !important;
        width: 300px !important;
        background-color: #ffffff !important;
    }

    /* 精選卡片內容(home、products) */
    .border-right-0 {
        border: var(--main-border) !important;
    }

    /* --為什麼選擇做甜點-- */

    /* 背景大小 */
    section.py-section1 {
        padding: 0 !important;
        margin-top: 210px !important;
    }

    /* 圖片 */
    section .img1 {
        background-image: url(../img/home-img-sec1.avif);
    }

    /* 標語圖 */
    section .title1 {
        background-image: url(../img/mobile-title1.svg) !important;
    }

    /* --為什麼一定要吃甜點-- */

    /* 背景大小 */
    section.py-section2 {
        padding: 0 !important;
        margin-top: 0 !important;
    }

    /* 圖片 */
    section .img2 {
        background-image: url(../img/home-img-sec2.avif);
    }

    /* 標語圖 */
    section .title2 {
        background-image: url(../img/mobile-title2.svg) !important;
    }

    /* --想吃甜點不需要理由-- */

    /* 背景大小 */
    section.py-section3 {
        margin: 0 !important;
    }

    /* 標語圖 */
    section .title3 {
        background-image: url(../img/mobile-title3.svg) !important;
    }
}

/* 少於md樣式調整 */
@media (max-width: 768px) {
    header {
        height: 400px !important;
    }

    /* 選單 */
    header .menu {
        top: 360px !important;
    }

    /* 選單圖片 */
    header .menu-img,
    header .menu-cover {
        width: 180px !important;
    }

    /* 選單文字 */
    header .menu-text {
        left: 75px !important;
    }

    /* --section標語圖-- */
    section .title1,
    section .title2,
    section .title3 {
        height: 80px !important;
        width: 270px !important;
    }
}

/* 少於sm樣式調整 */
@media (max-width: 576px) {

    /* 選單圖片 */
    header .menu-img,
    header .menu-cover {
        width: 146px !important;
    }

    /* 選單文字 */
    header .menu-text {
        left: 55px !important;
    }
}

header.container {
    height: 600px;
    position: relative;
}

/* 主圖片 */
header .main-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/home-img-main.avif);
}

/* --三欄選單-- */

/* 選單位置 */
header div.menu {
    position: absolute;
    top: 500px;
}

header div.menu a {
    position: relative;
}

header div.menu .menu-a {
    cursor: pointer;
}

/* 選單大小 */
header .menu-img {
    width: 300px;
    height: 250px;
}

/* 本日精選圖 */
header .menu-img.first {
    background-image: url(../img/home-img-card1.avif);
}

/* 人氣推薦圖 */
header .menu-img.second {
    background-image: url(../img/home-img-card2.avif);
}

/* 新品上市圖 */
header .menu-img.third {
    background-image: url(../img/home-img-card3.avif);
}

/* 選單一般表層 */
header .menu-cover {
    position: absolute;
    top: 0;
    width: 300px;
    height: 250px;
    background-color: var(--main-cover-color);
    backdrop-filter: blur(5px);
    transition: 0.5s;
}

/* 選單一般文字 */
header .menu-text {
    position: absolute;
    top: 0;
    left: 128px;
    writing-mode: vertical-rl;
    font-size: 26px;
    color: #ffffff;
    letter-spacing: 10px;
    padding-top: 60px;
    z-index: 1;
}

/* 選單懸停背景(清晰黃底) */
header .menu-a:hover .menu-cover {
    background-color: var(--miner-cover-color);
    backdrop-filter: unset;
    transition: 0.5s;
}

/* 選單懸停文字 */
header .menu-a:hover .menu-text {
    color: var(--main-color);
    font-weight: bold;
    transition: 0.5s;
}

/* 已選取的選單表層(清晰黃底) */
header .menu-cover.active {
    position: absolute;
    top: 0;
    width: 300px;
    height: 250px;
    background-color: var(--miner-cover-color);
    backdrop-filter: unset;
}

/* 已選取的文字 */
header .menu-text.active {
    color: var(--main-color);
    font-weight: bold;
}

/* 選單邊框 */
header .menu-border {
    border-left: white 1px solid;
    border-right: white 1px solid;
}

/* section標語圖、圖片寬度 */
section .px-div-title {
    padding: 0 15px;
}

/* section直向內文 */
section .home-paragraph {
    writing-mode: vertical-rl;
    height: 330px;
    line-height: 40px;
    font-size: 18px;
}

/* --為什麼選擇做甜點-- */

/* 背景大小 */
section.py-section1 {
    padding: 50px 0px;
    margin-top: 280px;
}

/* 圖片 */
section .img1 {
    position: absolute;
    top: -20%;
    left: 0;
    width: 550px;
    height: 490px;
    background-image: url(../img/home-img-sec1.avif);
}

/* 少於lg標語圖 */
section .title1 {
    position: absolute;
    top: -20%;
    height: 300px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url(../img/title1.svg);
}

/* lg以上標語圖 */
section .title1-lg {
    position: absolute;
    top: -20%;
    right: 0;
    height: 300px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url(../img/title1.svg);
}

/* --為什麼一定要吃甜點-- */

/* 背景大小 */
section.py-section2 {
    padding: 50px 0px;
    margin-top: 100px;
}

/* 圖片 */
section .img2 {
    position: absolute;
    top: -20%;
    right: 0;
    width: 550px;
    height: 490px;
    background-image: url(../img/home-img-sec2.avif);
}
/* 少於lg標語圖 */
section .title2 {
    position: absolute;
    top: -20%;
    height: 300px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url(../img/title2.svg);
}

/* lg以上標語圖 */
section .title2-lg {
    position: absolute;
    top: -20%;
    left: 460px;
    height: 300px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url(../img/title2.svg);
}

/* --想吃甜點不需要理由-- */

/* 背景大小 */
section.py-section3 {
    padding: 40px 0px;
    margin-top: 110px;
    margin-bottom: 330px;
}

/* 標語圖 */
section .title3 {
    position: absolute;
    top: -5%;
    height: 330px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url(../img/title3.svg);
}

/* --精選卡片-- */

/* 圖片大小 */
section .card1-img,
section .card2-img,
section .card3-img {
    position: relative;
    height: 310px;
}

/* 圖片1 */
section .card1-img {
    background-image: url(../img/home-img-featured1.avif);
}

/* 圖片2 */
section .card2-img {
    background-image: url(../img/home-img-featured2.avif);
}

/* 圖片3 */
section .card3-img {
    background-image: url(../img/home-img-featured3.avif);
}