/* 少於sm樣式調整 */
@media (max-width: 576px) {
    div.container {
        padding: 0;
        margin: 0 auto !important;
    }

    /* 頁尾深綠 */
    footer .pm-footer {
        margin-top: 0;
    }
}

/* container高度 */
.container.success {
    height: 500px;
}

/* 主要圖片 */
.container .main-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/success.avif);
}

/* --進度條-- */

/* 位置調整 */
.myprocess.col-lg-4 {
    flex: 0 0 13%;
}

/* 進度線 */
.process-set:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--main-color);
    transform: translateY(-50%);
    width: 100%;
}

/* 進度點 */
.process-set .step-circle {
    height: 25px;
    width: 25px;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    position: relative;
    background-color: var(--main-color);
    z-index: 2;
}

/* 付款成功 */
.success-title {
    width: 190px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url(../img/success.svg);
    background-size: contain;
    margin-bottom: 20px;
    z-index: 1;
}

/* 繼續按鈕 */
.container .btn-continue {
    width: 310px;
    height: 65px;
    z-index: 1;
}

/* 頁尾深綠 */
footer .pm-footer {
    margin-top: 0;
}